.portfolio__link {
  display: flex;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  justify-content: space-between;
  padding-bottom: 19px;
  text-decoration: none;
  margin-bottom: 20px;
}

.portfolio__link:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 1024px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}
