.account__input {
  text-align: end;
  border: none;
  width: 100%;
  height: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.account__input:focus {
  border: none;
  outline: none;
}
