.time-info__backend-part_text {
  grid-area: backend-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .time-info__backend-part_text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .time-info__backend-part_text {
    font-size: 11px;
    line-height: 13px;
  }
}
