.time-info__time-line{
    display: grid;
    grid-template-areas: "backend frontend"
                         "backend-text frontend-text";
    grid-template-columns: 1fr 3fr;
    text-align: center;
}