.films__ico-block_active{
    grid-area: ico;
    margin: auto auto;
    background: #2BE080;
    border-radius: 36px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}