.films__block {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "title ico"
    "subtitle ico"
    "img img";
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  max-width: 364px;
  min-width: 200px;
}
