.footer__info {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__info {
    border-top: #e8e8e8 1px solid;
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
