.technologies__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1024px) {
  .technologies__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .technologies__text {
    width: 80%;
    margin: 0 auto;
    font-size: 11px;
    line-height: 16px;
  }
}
