.time-info {
  width: 90%;
  margin: 110px auto 0;
}

@media screen and (max-width: 1024px) {
  .time-info {
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .time-info {
    margin: 70px auto 0;
  }
}
