.navbar{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-areas: "logo a-side b-side . c-side d-side";
    grid-template-columns: repeat(6, 1fr);
    height: 74px;
    align-content: center;
    text-align: center;
}