.registration__content{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    text-decoration: none;
    margin: 15px 0 0;
    width: 70%;
}

.registration__content:last-child{
    color: #2BE080;
    width: 30%;
}

@media screen and (max-width:768px){
    .registration__content {
        width: 80%;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}