.navbar__login{
    grid-area: d-side;
    margin: auto auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* background-color: #2BE080; */
    border: none;
    background: #2BE080;
    border-radius: 3px;
    width: 76px;
    height: 32px;
}