.navbar__login {
  grid-area: d-side;
  display: block;
  text-align: center;
  background: #2be080;
  border-radius: 3px;
  transition: 0.4s;
  width: 72px;
  height: 36px;
  justify-self: end;
  margin: auto 0;
  text-decoration: none;
}

.navbar__login:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .navbar__login {
    width: 54px;
    height: 26px;
  }
}
