.films__ico-block_active {
  grid-area: ico;
  border: none;
  background: #2be080;
  border-radius: 36px;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 19px;
}
