.time-info__block-for-text {
  display: grid;
  grid-template-areas: "a-side b-side";
  margin-top: 60px;
  margin-bottom: 110px;
}

@media screen and (max-width: 1024px) {
  .time-info__block-for-text {
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 767px) {
  .time-info__block-for-text {
    margin-bottom: 60px;
    grid-template-areas:
      "a-side"
      "b-side";
  }
}
