.technologies {
  position: relative;
  width: 100%;
  background: #f5f5f5;
  margin: 110px auto 0;
  height: 650px;
}

@media screen and (max-width: 767px) {
  .technologies {
    margin: 70px auto 0;
    height: 651px;
  }
}
