.navbar__account{
    grid-area: d-side;
    margin: auto auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #F9F9F9;
    border-radius: 20px;
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
    transition: .4s;
}

.navbar__account:hover{
    opacity: 0.7;
}

@media screen and (max-width:1024px){
    .navbar__account{
        opacity: 0;
        display: none;
    }
}