.films__ico-block {
  grid-area: ico;
  border: none;
  display: flex;
  position: absolute;
  right: 14px;
  top: 19px;
  background: #f9f9f9;
  border-radius: 36px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
